footer{
    width: 25%;
    max-width: 330px;
    position: relative;
}

footer[id=void]{
    height: 100%;
    width: 10%;
}

footer[id=void] #aside{
    position: fixed;
    height: 100%;
    border-left: 1px solid #888;
}

#aside{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
    max-width: 330px;
    position: fixed;
}

#aside-pos{
    height: 100%;
    width: 100%;
    border-left: 1px solid #888;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media only screen and (max-width: 600px) {
    footer{display: none;}

} 